.wrapper2{
    background-color: yellow;
    display: grid;
    border: 2px solid black ;
    height: 100vh;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}
.ch{
    border: 2px solid;
}
.ch1{
    border: 2px solid;
    grid-column-start: 1;
    grid-column-end: 4;
}
.ch2{
    width: 100px;
    border: 2px solid;
    grid-row-start: 2;
    grid-column-end: 4;
}