/* .main{
    background-image: url(download.jpg);
    height: 400vh;
    background-repeat: no-repeat; 
} */
.main h1{
    background-color: rgba(255, 0, 0, 0.358);
}
.live{
    background-image: url(istockphoto-1287065728-612x612.webp);
    height: 100vh;
    background size
}