.main{
    background-image: url(image/istock1\).webp);
    height:100vh;
    background-repeat: no-repeat; 
    /* background-size: cover; */
}
.main h1{
    color: white;
    background-color: rgba(255, 213, 0, 0.269);
}
.live{
    background-image: url(image/gradient.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.live h1{
    background-color: rgba(222, 184, 135, 0.444);
}